* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body{
    background: #23252C;
    font-family: Inter, sans-serif;
}

.container{
    width: 317px;
    height: 868px;
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 10px;
}

.fa-linkedin{
    pointer-events: none;
}
.profile-img{
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0 0;
}

.info-container{
    text-align: center;
}

.name{
    color: white;
    font-weight: 700;
    font-size: 25px;
    margin: 0px;
    padding-top: 21px;
}

.title{
    padding-top: 6px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #F3BF99;
}

.website{
    color: white;
    font-size: 14px;
    text-decoration: none;
    
}

.btn-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.btn-primary{
    width: 115px;
    height: 40px;
    padding: 9px 13px 9px 11px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.linkedin{
    background: #5093E2;
    color: white;
}

.About, .Interest{
    width: 247px;
    color: white;
    margin: 33px 36px 27px 36px;
    color: #DCDCDC;
}

.About > p, .Interest > p{
    padding-top: 6px;
    font-size: 12px;
    line-height: 150%;
}

.Interest{
    padding-bottom: 32px;
}
.footer{
    width: 315px;
    height: 64px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap:24px;
}

.social-media-icon{
    cursor: pointer;
    color: #918E9B;
    font-size: 40px;
}